
<h1><%= @kite.name %></h1>

<p>
    <strong>Name:</strong>
    <%= @kite.name %>
</p>

<p>
    <strong>Origin:</strong>
    <%= @kite.origin %>
</p>

<p>
    <strong>Color:</strong>
    <%= @kite.color %>
</p>

<p>
    <strong>Style:</strong>
    <%= @kite.style %>
</p>

<p>
    <strong>Quantity:</strong>
    <%= @kite.quantity %>
</p>

<p>
    <strong>Additional Information:</strong>
    <%= @kite.additional_information %>
</p>

<p>
    <%= link_to 'Edit Info', edit_kite_path(@kite) %>
    <%= link_to 'Back to Kites List', kites_path %>
</p>
